.HandsomeKevin{
    font-family: sans-serif;
    color: blue;
    text-align: -webkit-auto;
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 7px;
    border-color: #FFC107;
    border-style: solid;}

    
